@import "variables";

body {
  border-top: 4px solid $headingColor;
  background-color: $backgroundColor;
}

#sidebar-wrapper {
  border-top: 4px solid $headingColor;
  top: 0;
}

#content-wrapper {
  padding-left: 4em;
  padding-right: 4em;
}

#wrapper {
  background-color: $backgroundColor;
}


.award {
  margin: 0px auto;
}

img {
  max-width: 100%;
}


.about {
  .award img {
    width: 30%;
    float: right;
    border: none;
  }

  .award span {
    width: 60%;
    display: block;
  }

  .aside {
    background-color: $sidebarColor;
    padding: 1em;
    margin-bottom: 0.5em;
  }

  .info {
    margin-left: auto;
    margin-bottom: 1em;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      border: none;
      float: left;
      max-height: 5em;
      max-width: 10em;
    }

    ul {
      list-style: none;
      font-weight: bold;
      display: inline-block;
      span {
        font-weight: normal;
      }
    }

    li:first-child {
      /*font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;*/
      font-weight: 400;
      color: #777;
      font-size: 25px;
    }
  }
}

footer {
  text-align: center;
  padding-top: 5em;
}

.sig {
  margin: 0;
  border: 0 !important;
  padding: 0;
  width: 6em;
}

.meta {
  .avatar {
    position: relative;
    float: left;
    width: 5em;
    height: auto;
  }
  .avatar-content {
    margin-bottom: -2em;
    padding-left: 6em;
    p {
      line-height: 1.5em;
      margin-bottom: 0.7em;
      padding: 0;
    }
  }
}
