@charset "UTF-8";
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local("Yanone Kaffeesatz Regular"), local("YanoneKaffeesatz-Regular"), url(http://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLXH4RvoIgd8UGj-uxFsyfXs.ttf) format("truetype"); }

/* line 12, /Users/philiphale/code/pghale.com/app/styles/main.scss */
body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

/* line 17, /Users/philiphale/code/pghale.com/app/styles/main.scss */
a {
  color: #227ce8; }

/* line 19, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar {
  position: fixed;
  left: 15px;
  top: 15px;
  width: 80px;
  font-family: Helvetica, sans-serif; }

/* line 25, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar a {
  text-decoration: none; }

/* line 27, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar img.icon {
  width: 1em;
  padding-right: 5px; }

/* line 31, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar .avatar {
  padding: 0;
  margin-left: 2px;
  border-radius: 5px; }

/* line 35, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar .name {
  text-transform: uppercase;
  margin: 10px 0 20px 0; }

/* line 38, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar .name #fname {
  padding-left: 1px;
  font-size: 20px;
  letter-spacing: 3px;
  color: black; }

/* line 43, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar .name #lname {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  color: black; }

/* line 48, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar .sections {
  margin: 15px 0 0 0; }

/* line 50, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar .sections a {
  padding: 3px 0;
  color: black;
  font-weight: bold;
  font-size: 12px;
  display: block; }

/* line 56, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar .sections a:hover {
  color: #227ce8; }

/* line 58, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar .sections ul {
  padding: 0; }

/* line 60, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar .sections li {
  list-style: none;
  margin-bottom: 3px; }

/* line 64, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content {
  max-width: 650px;
  margin-left: 110px;
  margin-right: 20px;
  margin-bottom: 50px; }

/* line 69, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content h1 {
  color: #333;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  font-weight: 400; }

/* line 73, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content h1 a {
  color: #111;
  text-decoration: none; }

/* line 76, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content h2 {
  color: #333;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  font-weight: 400; }

/* line 80, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content h2 a {
  color: #111;
  text-decoration: none; }

/* line 83, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content h3 {
  color: #333;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  font-weight: 400; }

/* line 87, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content h3 a {
  color: #111;
  text-decoration: none; }

/* line 90, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content h4 {
  color: #333;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  font-weight: 400; }

/* line 94, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content h4 a {
  color: #111;
  text-decoration: none; }

/* line 97, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content h1 {
  font-size: 36px;
  margin: 18px 0 5px 0; }

/* line 100, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content h2 {
  font-size: 30px;
  margin-bottom: 15px; }

/* line 103, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content h3 {
  color: #777;
  font-size: 25px;
  padding-bottom: 5px;
  margin-bottom: 10px; }

/* line 108, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 1.2em;
  line-height: 1.7em; }

/* line 113, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content p code {
  font-size: 12px;
  background-color: #eeeeee;
  border: 1px solid #777777;
  border-radius: 3px;
  padding: 2px 3px; }

/* line 119, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content img {
  padding: 3px;
  border: 1px solid #eeeeee;
  max-width: 100%; }

/* line 123, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content hr {
  border: 0;
  height: 6px;
  background-image: url("/images/hr.png");
  background-repeat: repeat-x;
  margin: 2em 3em; }

/* line 129, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content li {
  margin-bottom: 10px;
  line-height: 1.4em; }

/* line 132, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content blockquote {
  font-style: italic;
  font-size: 14px;
  padding: .25em 1em;
  margin: 1em 1em 0 1em;
  color: #444; }

/* line 138, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content blockquote cite:before {
  content: '— '; }

/* line 140, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content blockquote cite {
  display: block;
  margin-top: .5em;
  text-align: right;
  color: #111;
  font-style: normal; }

/* line 146, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .byline, .byline > a {
  margin-bottom: 17px;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  padding-left: 0px;
  font-size: 17px;
  text-decoration: none;
  color: #777; }

/* line 153, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .aside {
  background-color: #eeeeee;
  padding: 14px;
  font-size: 14px;
  margin: 5px 0 15px 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.6em; }

/* line 160, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .listing {
  margin: 10px 0 0 0;
  padding: 0;
  font-family: Helvetica, sans-serif; }

/* line 164, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .listing ul {
  margin: 0;
  padding: 0; }

/* line 167, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .listing li {
  font-size: 13px;
  list-style: none;
  padding: 5px 3px;
  margin: 0;
  color: #777777;
  border-bottom: 1px solid #eee; }

/* line 174, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .listing li span {
  float: right; }

/* line 176, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .listing a {
  text-decoration: none; }

/* line 178, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .listing a:hover {
  text-decoration: underline; }

/* line 180, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .meta {
  margin: 30px 0;
  padding: 10px 0;
  font-family: Helvetica, sans-serif; }

/* line 184, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .meta p {
  line-height: 1.4;
  font-size: 14px;
  margin-top: 0px; }

/* line 188, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .meta img {
  position: relative;
  float: left;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: -60px;
  border-radius: 4px; }

/* line 195, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .meta .copy {
  padding-left: 60px; }

/* line 197, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .meta iframe {
  padding-left: 5px; }

/* line 199, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .talk-design .color div {
  float: left;
  margin-right: 10px;
  padding: 5px 15px;
  border: 1px solid #000;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold; }

/* line 207, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .talk-design .color .white {
  color: #fff; }

/* custom styles*/
/* line 213, /Users/philiphale/code/pghale.com/app/styles/main.scss */
img#avatar_large {
  width: 550px; }

/* line 217, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content img {
  display: block;
  margin-right: auto;
  margin-left: auto; }

/* line 223, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .about-item {
  margin-bottom: 4em; }

/* line 227, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .about-item:last-child {
  margin-top: 0;
  margin-top: 0; }

/* line 232, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .about-item:first-child {
  margin-top: 0;
  margin-top: 0; }

/* line 237, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .info {
  margin-right: auto;
  margin-left: auto;
  /*width: 85%;*/
  margin-bottom: 1em; }

/* line 244, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .info img {
  border: none;
  float: left;
  max-height: 7em;
  max-width: 10em;
  padding-top: 6%; }

/* line 252, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .info ul {
  list-style: none;
  font-weight: bold;
  display: inline-block; }

/* line 258, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .info ul span {
  font-weight: normal; }

/* line 262, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .info li:first-child {
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  font-weight: 400;
  color: #777;
  font-size: 25px; }

/* line 269, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.award {
  margin: 0px auto; }

/* line 273, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .award img {
  width: 30%;
  float: right;
  border: none; }

/* line 279, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.content .award span {
  width: 60%;
  display: block; }

/* line 284, /Users/philiphale/code/pghale.com/app/styles/main.scss */
a.to_top {
  font-size: 0.6em;
  color: grey !important; }

/* line 289, /Users/philiphale/code/pghale.com/app/styles/main.scss */
a.to_top:hover {
  color: black !important; }

/* line 293, /Users/philiphale/code/pghale.com/app/styles/main.scss */
h1 small {
  color: gray;
  padding-left: 10px;
  font-size: 70%; }

/* line 299, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sidebar .meta a span {
  font-size: smaller; }

/* line 303, /Users/philiphale/code/pghale.com/app/styles/main.scss */
.sig {
  margin: 0;
  border: 0 !important;
  padding: 0;
  width: 8em; }

/* line 310, /Users/philiphale/code/pghale.com/app/styles/main.scss */
footer {
  padding-top: 2em; }


/*# sourceMappingURL=app.css.map*/