    {{ partial "header.html" . }}


<div id="article">
  <div class="article-title">Hello</div>
  <div class="post">
    <p>
      I create dynamic content for the web.
    </p>
    <p>
      I'm interested in software craftsmanship and am most inspired by
      developers who are great communicators as well as knowledgeable
      engineers.
    </p>
    <p>
      I'm currently contracting as a Ruby developer and learning more about
      data analysis and visualisation.
    <p>
      You can read about my professional skills and experiences on this site,
      or get in touch at phil@pghale.com.
    </p>
    <p>
      Phil
    </p>
  </div>
</div>

    {{ partial "footer.html" }}
