{{ partial "header.html" . }}

<h2>
  Hello,
  <!--<small>{{ .Site.Params.subtitle }}</small>-->
</h2>

<div class="index">
  <div class="intro">
    <p>
      My name is Phil and I create websites that better the interactions ordinary citizens and small
      business owners have with government.
    </p>
    <p>
      I work remotely from the South West of England among the descendants of Paleolithic hunters and
      King Arthur (probably).
    <p>
      You can read about my professional skills and experience on this site or get in touch directly
      at hello@pghale.com.
    </p>
  </div>
</div>

{{ partial "footer.html" }}
