<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% else %}
    <meta name="description" content="{{ site.description }}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>

<body>
  <section class="sidebar">
    <a href="/">
      <img src="/images/avatar.jpg" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <span id="fname">{{ site.name|split:' '|first }}</span>
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>


    <section class="sections">
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/pghaleltd">pg hale ltd</a></li>
        <li><a href="/posts">posts</a></li>
      </ul>
    </section>

    <hr />

    <section class="sections">
      <ul>
        <li>
          <a href="https://github.com/{{ site.github }}" target="_blank">
            <i class="fa fa-github"></i><span> GitHub</span></a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
          <i class="fa fa-twitter-square"></i><span> Twitter</span></a>
        </li>
        <li>
          <a href="http://uk.linkedin.com/in/{{ site.linkedin }}" target="_blank">
            <i class="fa fa-linkedin fa-fw"></i><span>LinkedIn</span></a>
        </li>
        <hr />
        <li>
          <a href="http://www.ravelry.com/people/philhale" target="_blank">
            <img class="icon" src="/images/ravelry.png"></img><span>Ravelry</span></a>
        </li>
        <li>
          <a href="http://www.last.fm/user/halep09" target="_blank">
            <img class="icon" src="/images/lastfm.png"></img><span>last.fm</span></a>
        </li>
        <li>
          <a href="https://www.goodreads.com/user/show/25908326-philip-hale" target="_blank">
            <img class="icon" src="/images/goodreads.png"></img><span>goodreads</span></a>
        </li>
      </ul>
    </section>
    <img src="/images/pghaleltd_logo.jpg" alt="PG Hale Ltd. Logo" style="width: 5em;" />

  </section>

  {{ content }}
</body>

</html>
